#main-container {
    width: 100%;
    height: 100%;
    background: #eee;
    margin: 0;
}

.command-block {
    position: fixed;
    bottom: 5px;
    width: 100%;
    padding: 10px;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0;
    background: #999;
    box-sizing: border-box;
    font-family: sans-serif;
}

.command-field {
    font-family: monospace;
    font-size: 1.2rem;
    width: 95%;
    padding: 2px;
    margin: 5px;
    box-sizing: content-box;
}

.templates {
    display: none;
}

.new-box {
    position: fixed;
    border-radius: 4px;
    border: 2px solid black;
    min-height: 50px;
    padding: 5px;
}

.new-box .name {
    font-size: 0.8em;
    font-weight: bold;
}

.new-box .message {
    font-weight: lighter;
    word-wrap: break-word;
}
